{{ block "index" . }}
<!doctype html>
<html lang="en">
	<head>
		{{ template "Standard-Meta-Headers" }}
		<title>My First Web App in HTMX/Go</title>
	</head>
	<body>
		<header>
			{{ template "Nav-Bar" }}
			<span class="page-title">A Go/HTMX Web App</span>
		</header>
		<main>
			<div>
				{{ template "count" . }}
				<br />
				<button hx-post="/count" hx-target="#count" hx-swap="outerHTML">number go up</button>
			</div>
		</main>
	</body>
</html>
{{ end }}

{{ block "Standard-Meta-Headers" . }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/style.css" />
<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
<script src="/static/events.js"></script>
{{ end }}

{{ block "Nav-Bar" . }}
<div class="navbar">
	<a href="/"><button class="navbar">Home</button></a>
	<a href="/contacts"><button class="navbar">Contacts</button></a>
</div>
<hr />
{{ end }}

{{ block "count" . }}
<span id="count">Count {{ .Count }}</span>
{{ end }}
